- return nil unless current_user.dealership.current_daily_checklist.present?

- return nil unless current_user.permission_level == "admin"

- redirect_to = redirect_to || nil

- if icons_only
  -# just indicate that there are notifications

  - if current_user.dealership.current_daily_checklist.uncompleted_sales_manager_red_level_notifications.any? || current_user.dealership.current_daily_checklist.uncompleted_sales_manager_yellow_level_notifications.any?

    - if current_user.dealership.current_daily_checklist.uncompleted_sales_manager_red_level_notifications.any?
      %i.fa.fa-exclamation.bg-danger.px-2.p-1.text-white{style: 'border-radius: 4px;font-size: 10px'}

    - else
      %i.fa.fa-check.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;font-size: 10px'}

  - if current_user.dealership.current_daily_checklist.uncompleted_service_manager_yellow_level_notifications.any?
    %span.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;font-size: 10px'}
      SRV

- else
  -# make them links to the modal
  - if current_user.dealership.current_daily_checklist.uncompleted_sales_manager_red_level_notifications.any? || current_user.dealership.current_daily_checklist.uncompleted_sales_manager_yellow_level_notifications.any?

    - if current_user.dealership.current_daily_checklist.uncompleted_sales_manager_red_level_notifications.any?
      %a{"data-target" => "#SalesManagerChecklistItemsModal", "data-toggle" => "modal", :href => "#"}
        %i.fa.fa-exclamation.bg-danger.px-2.p-1.text-white{style: 'border-radius: 4px;'}
    - else
      %a{"data-target" => "#SalesManagerChecklistItemsModal", "data-toggle" => "modal", :href => "#"}
        %i.fa.fa-check.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;'}

  - if current_user.dealership.current_daily_checklist.uncompleted_service_manager_yellow_level_notifications.any?
    %a{"data-target" => "#ServiceManagerChecklistItemsModal", "data-toggle" => "modal", :href => "#"}
      %span.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;'}
        SRV


  = render partial: 'layouts/shared/daily_checklists/sales_manager_items', locals:{id:'SalesManagerChecklistItemsModal', checklist: current_user.dealership.current_daily_checklist, redirect_to: redirect_to}

  = render partial: 'layouts/shared/daily_checklists/service_manager_items', locals:{id:'ServiceManagerChecklistItemsModal', checklist: current_user.dealership.current_daily_checklist, redirect_to: redirect_to}

