%li.nav-item
  %a.nav-link{:href => "about.html"}= current_user.dealership&.name
%li.nav-item.dropdown
  %a#navbarDropdownBlog.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
    = current_user.full_name
  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownBlog"}
    - if current_user.permission_level.in? ["admin", "sales_manager"]
      = link_to 'Dealership settings', edit_dealership_path(current_user.dealership), class: 'dropdown-item'
      
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'

