%li.nav-item.dropdown
  %a#navbarDropdownPortfolio.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
    Portfolio
  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownPortfolio"}
    %a.dropdown-item{:href => "portfolio-1-col.html"} 1 Column Portfolio
    %a.dropdown-item{:href => "portfolio-2-col.html"} 2 Column Portfolio
    %a.dropdown-item{:href => "portfolio-3-col.html"} 3 Column Portfolio
    %a.dropdown-item{:href => "portfolio-4-col.html"} 4 Column Portfolio
    %a.dropdown-item{:href => "portfolio-item.html"} Single Portfolio Item
%li.nav-item.dropdown
  %a#navbarDropdownBlog.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
    = current_user.full_name
  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownBlog"}
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
