.container
  %h3 Service License Agreement
  .row
    .col-12
      %p 
        Please read through these terms before using LotWing.
        %strong (Scroll to the bottom to accept)

  %hr

  %p
    %strong SOFTWARE AS A SERVICE LICENSE AGREEMENT
  %p
    %strong
    %br/
  %p
    %strong
      PLEASE READ THIS SOFTWARE AS A SERVICE LICENSE AGREEMENT (“
    %strong Agreement
    %strong ”) CAREFULLY BEFORE USING THIS SOFTWARE.
  %p
    %strong
    %br/
  %p
    BY USING THESE SERVICES AND THIS SOFTWARE, YOU ARE CONSENTING TO BE BOUND
    BY THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS END USER
    AGREEMENT, DO NOT USE THE SERVICES AND/OR THE SOFTWARE.
  %p
    %strong
      Single User License
      %em .
    Subject to the terms and conditions of this Agreement, LotWing, LLC
    (“LotWing”) and its affiliates grant to you (“End User”) a non-exclusive,
    non-transferable license to use LotWing’s internet-accessible service that
    provides access to, and use of, LotWing’s inventory search and management
    Software hosted by LotWing and made available to the End User over an
    online network on a monthly term-use basis (the “Saas Services”).

  %ol
    %li 
      %strong Definitions
    %ul
      %li
        %p
          “
          %strong> Authorized Users
          ” means each End User’s employee
          authorized by the End User to access and use of the SaaS Services on End
          User’s behalf.
        %p
          "
          %strong> Business Day
          " means a day other than a Saturday, a
          Sunday, or any other day on which the principal banks located in California
          are not open for business.
        %p
          “
          %strong> Host
          ” means the computer equipment on which the Software
          is installed and which is owned and operated by LotWing.
        %p
          “
          %strong> Inventory Data
          ” means vehicle inventory data and related
          information provided by the End User to LotWing on a periodic basis for
          upload and storage on the Host, for access and use by the End User through
          the SaaS Services.
        %p
          “
          %strong> SaaS Services
          ” means LotWing’s internet-accessible
          service that provides access to, and use of, LotWing’s inventory search and
          management Software hosted by LotWing and made available to the End User
          over an online network on a monthly term-use basis.
        %p
          “
          %strong> Software
          ” means the object code version of the inventory
          search and management software (desktop and mobile versions) designed,
          developed and owned by LotWing to which the End User is provided an online
          access as part of the SaaS Services, including any updates or new versions.
    %li
      %strong Grant of Right to Access and Use the SaaS Services
      \. Subject to the terms and conditions of this Agreement and for the
      Term, LotWing hereby grants to the End User, including to all
      Authorized Users, a non-exclusive, non-assignable, revocable,
      royalty-free right to access and use the SaaS Services solely for the
      End User's internal business operations.
    %li.mt-3
      %strong Acknowledgement by the End User
      \. The End User acknowledges and agrees that LotWing grants a
      non-exclusive, non-assignable, royalty free, revocable and limited
      right to access and use the SaaS Services to the End User as per the
      terms and conditions stated herein. The End User acknowledges that this
      Agreement is an online services agreement and LotWing will not be
      delivering copies of the Software to the End User as part of the SaaS
      Services.
    %li.mt-3
      %strong Improvements, modification, updates.
      LotWing
      %strong>
      may, from time to time, develop and implement
      certain improvements, variations, updates, upgrades, modifications, and
      enhancements to the SaaS Services for the purpose of enhancing the
      capability, efficiency and productivity of the SaaS Services. All such
      improvements, variations, updates, upgrades, modifications, and
      enhancements shall be solely owned by LotWing and the End User shall
      have no right, title and/ or interest in such improvements,
      modifications and/or updates.
    %li.mt-3
      %strong Term and Termination.
      This Agreement is effective until terminated. End User’s license rights
      under this Agreement will terminate immediately without notice from
      LotWing if End User fails to comply with any provision of this
      Agreement. Upon termination, End User must immediately cease using the
      Software and the SaaS Services. Immediately upon termination of this
      Agreement or suspension of the SaaS Services for any reason whatsoever,
      all rights granted to the End User under this Agreement shall cease and
      terminate and the End User shall have no right thereafter to access and
      use, and shall cease the use of, the SaaS Services or any portion
      thereof. The End User shall immediately pay to LotWing all amounts
      outstanding as of the date of, and any amounts outstanding as a result
      of, termination.
    %li.mt-3
      %strong Inventory Data Collection and Storage
      \. The SaaS Services shall include the collection and storage of
      Inventory Data. The End User shall provide to LotWing a periodic feed
      of the Inventory Data in an electronic file format that is accessible
      to LotWing. Upon receipt of the Inventory Data from the End User,
      LotWing shall upload the Inventory Data on the Host computer for the
      purpose of accessibility and storage. The End User acknowledges that
      LotWing’s ability to deliver the SaaS Services in the manner provided
      in this Agreement depends upon the accuracy and timeliness of providing
      such information.
    %li.mt-3
      %strong Ownership of Inventory Data
      \. The End User shall retain ownership and intellectual property rights
      in and to the Inventory Data. The Inventory Data is and shall remain
      the sole and exclusive property of the End User and all right, title,
      and interest in the same is reserved by the End User. The End User
      shall at all times solely be liable for the content of the Inventory
      Data and LotWing shall not assume any liability in respect of the same.
    %li.mt-3
      %strong License from
      %strong the End User
      %strong to LotWing
      \. Subject to the terms and conditions of this Agreement, the End User
      shall grant to LotWing a limited, non-exclusive and non-transferable
      license, to copy, store, configure, perform, display and transmit
      Inventory Data solely as necessary to provide the SaaS Services to the
      End User. The End User is solely responsible for ensuring that the
      Inventory Data does not (i) include anything that actually or
      potentially infringes or misappropriates the copyright, trade secret,
      trademark or other intellectual property right of any third party, or
      (ii) contain anything that is obscene, defamatory, harassing, offensive
      or malicious.
    %li.mt-3
      %strong End User’s Suggestions
      \. LotWing shall have a royalty-free, worldwide, irrevocable, perpetual
      license to use and incorporate into the SaaS Services any suggestions,
      enhancement requests, recommendation or other feedback provided by the
      End User, including its Authorized Users, relating to the operation of
      the SaaS Services.
    %li.mt-3
      %strong Authorized User Access
      \. The End User shall be solely responsible for the acts and omissions
      of its Authorized Users. LotWing shall not be liable for any loss of
      data or functionality caused directly or indirectly by the Authorized
      Users.
    %li.mt-3
      %strong Suspension of SaaS Services
      \. LotWing reserves the right to suspend delivery of the SaaS Services
      if LotWing reasonably concludes that the End User or its Authorized
      User’s use of the SaaS Services is causing immediate and ongoing harm
      to LotWing or others. In the extraordinary case that LotWing must
      suspend delivery of the SaaS Services, LotWing shall immediately notify
      the End User of the suspension and the Parties shall diligently attempt
      to resolve the issue. LotWing shall not be liable to the End User or to
      any third party for any liabilities, claims or expenses arising from or
      relating to any suspension of the SaaS Services in accordance with this
      Section.
    %li.mt-3
      %strong Service Levels
      %ul
        %li
          %strong Applicable
          %strong Levels
          \. LotWing shall provide the SaaS Services to the End User with a
          System Availability of at least 98% during each calendar month.
        %li
          %strong System Availability Definition
          %ul
            %li
              %strong Percentage of Minutes per Month
              \. "
              %strong> System Availability
              " means the percentage of
              minutes in a month that the key components of the SaaS Services are
              operational.
            %li
              %strong Not Included in "System Availability
              \. "System Availability" will not include any minutes of downtime
              resulting from:
            %ol
              %li
                scheduled maintenance,
              %li
                events of force majeure,
              %li
                %strong
                malicious attacks on the system,
              %li
                issues associated with the End User's computing devices, local area
                networks or internet service provider connections, or
              %li
                LotWing's inability to deliver services because of the End User's
                acts or omissions.
    %li
      %strong Restrictions on Use
      \. Any use of the SaaS Services not expressly permitted by this
      Agreement is prohibited. Without limiting the generality of the
      foregoing, the End User shall not:
      %ul
        %li
          permit persons other than Authorized Users to access or use the
          SaaS Services (or any part thereof); or
        %li
          remove or modify any program markings or any notice of LotWing or
          its licensors’ (if any) proprietary rights; or
        %li
          either itself or permit any other person to modify, disassemble,
          decompile or reverse engineer the source code of the Software,
        %li
          attempt to or copy or reproduce the Software and/or the SaaS
          Services,
        %li
          access or use any other LotWing’s clients' or their users' data
          through the SaaS Services,
        %li
          maliciously reduce or impair the accessibility of the SaaS
          Services,
        %li
          attempt to disable or circumvent any of the licensing mechanisms
          within the SaaS Services,
        %li
          use the SaaS Services to post, promote, or transmit any unlawful,
          harassing, libelous, abusive, threatening, harmful, hateful, or
          otherwise objectionable material, or
        %li
          transmit or post any material that encourages conduct that could
          constitute a criminal offence of give rise to civil liability,
        %li
          input any first name or telephone number information about any
          individual client or in any other way infringe upon any
          individual’s privacy rights,
        %li
          or use the SaaS Services (or any part thereof) in breach of any
          applicable laws or regulations.
    %li
      %strong
      %strong INTELLECTUAL PROPERTY RIGHTS AND CONFIDENTIALITY
    %ol
      %li
        The SaaS Services and the Software is and will remain the sole and exclusive property of LotWing. LotWing retains all intellectual property, proprietary, distribution rights, interest, title to the SaaS Services and the Software. LotWing’s rights under this Section will include, but not be limited to: (i) the SaaS Services and the Software, in whole and in part; and (ii) modifications, improvements, upgrades, derivative works to the SaaS Services and/or the Software, (ii) all Intellectual Property Rights in the SaaS Services and the Software. For purposes herein, 
        %strong “Intellectual Property Rights” 
        means patent rights and trademark rights (including pending applications, registrations and disclosures), copyrights (including, but not limited to, rights in audiovisual works and moral rights), trade secret rights, confidential know-how, website and internet domain name registrations, Moral Rights, rights of priority and any other intellectual property right recognized in any country or jurisdiction in the world. “Moral Rights” means any right to claim authorship to or to object to any distortion, mutilation, or other modification or other derogatory action in relation to a work, whether or not such would be prejudicial to the author’s reputation, and any similar right, existing under common or statutory law or any country in the world or under any treaty, regardless of whether or not such right is denominated or generally referred to as a “moral right.”

      %li
        The End User may not remove any product identification, copyright,
        trademark or other notice from the Software and any third-party
        software (if any) provided in the SaaS Services. LotWing reserves
        any rights not expressly granted to the End User under this
        Agreement. The End User agrees that the SaaS Services and the
        Software and all associated trade secrets, including but not
        limited to, its configurations, architecture, communications and
        performance benchmarks, are the exclusive property of LotWing. The
        End User agrees not to disclose, disseminate, transmit via any
        medium whatsoever, or make available the SaaS Services or any
        associated trade secrets to any third party without LotWing’s prior
        written consent.
      %li
        “Confidential Information” means all proprietary or confidential information that is disclosed to the recipient 
        %strong (“Recipient”) 
        by the discloser 
        %strong (“Discloser”), 
        and includes, among other things (a) any and all information relating Discloser financial information, End Users, employees, products or services, including, without limitation, first names and telephone numbers or any other identifying information (except for surname) of any clients, software code, flow charts, techniques, specifications, development and marketing plans, strategies, and forecasts; (b) as to the End User, the Software code and any third party software imbedded in the SaaS Services; and (c) the terms of this Agreement, including without limitation, pricing information. Confidential Information does not include information that Recipient can show (i) was rightfully in Recipient’s possession without any obligation of confidentiality before receipt from the Discloser; (ii) is or becomes a matter of public knowledge through no fault of Recipient; (iii) is rightfully received by Recipient from a third party without violation of a duty of confidentiality; or (iv) is independently developed by or for Recipient. Recipient may not disclose Confidential Information of Discloser to any third party or use the Confidential Information in violation of this Agreement. The Recipient:
        %ul
          %p
            (A) will exercise the same degree of care and protection with respect to
            the Confidential Information of the Discloser that it exercises with
            respect to its own Confidential Information; and
          %p
            (B) will not, either directly or indirectly, disclose, copy, distribute,
            republish, or allow any third party to have access to any Confidential
            Information of the Discloser.
  
      %li
        %strong Disclosure to Employees and Agents
        \. Notwithstanding the foregoing, Recipient may disclose Discloser’s
        Confidential Information to Recipient’s employees and agents who
        have the need to know provided that such employees and agents have
        legal obligations of confidentiality substantially the same (and in
        no case less protective) as the provisions of this Agreement.
    %li.mt-4
      %strong End User’s Obligations
      %ol
        %li
          %strong Hardware Obligations
          \. The End User shall be responsible for obtaining and maintaining
          all computer hardware, software, and communications equipment
          needed to access and use the SaaS Services, and paying all
          third-party access charges incurred while using the SaaS Services.
        %li
          %strong Anti-Virus Obligations
          \. The End User shall be responsible for implementing, maintaining,
          and updating all necessary and proper procedures and software for
          safeguarding against computer infection, viruses, worms, Trojan
          horses, and other code that manifest contaminating or have
          destructive properties.
        %li
          %strong End User
          ’
          %strong> s Compliance
          \. The End User shall (i) abide by all
          applicable local, state, national and international Laws and
          regulations applicable to its use of the SaaS Services, including
          laws related to data privacy, international communications, and the
          transmission of technical or personal data, (ii) use the SaaS
          Services only for legal purposes, and (iii) comply with all
          regulations, policies and procedures of networks connected to the
          SaaS Services.
    %li.mt-4
      %strong Export Compliance
    %ol
      %li
        %strong No Representation by LotWing
        \. LotWing makes no representation that the SaaS Services are
        appropriate or available for use outside the United States.
      %li
        %strong End User’s Status
        \. End User represents that it is not located in, under the control
        of, or a national or resident of any country to which the United
        States has embargoed the import or export of goods, on the United
        States Treasury Department’s list of Specially Designated Nationals
        or United States Commerce Department’s Table of Deny Orders.
    %li.mt-4
      %strong Indemnification
    %ol
      %li
        %strong Indemnification by the End User
        \. The End User shall indemnify LotWing against any and all losses
        and expenses arising out of any proceeding, including proceeding
        brought by third party, as a result of any breach by the End User
        of the terms, conditions, representation, warranties and covenants
        under this Agreement.
      %li
        %strong Notice and Failure to Notify
        %ul
          %li
            %strong Notice Requirement
            \. Before bringing a claim for indemnification, the indemnified party
            shall notify the indemnifying party of the indemnifiable proceeding,
            and deliver to the indemnifying party all legal pleadings and other
            documents reasonably necessary to indemnify or defend the indemnifiable
            proceeding.
          %li
            %strong Failure to Notify
            \. If the indemnified party fails to notify the indemnifying party of
            the indemnifiable proceeding, the indemnifying party will not be

      %li
        %strong Exclusive Remedy
        \. The Parties' right to indemnification is the exclusive remedy
        available in connection with the indemnifiable proceedings
        described in this Section 17.
    %li.mt-4
      %strong NO WARRANTY AND DISCLAIMER
      %p
        THE SAAS SERVICE IS PROVIDED TO THE END USER ON AN
        %strong “AS IS” “WHERE IS”
        BASIS WITHOUT WARRANTY AND END USER’S
        USE THEREOF IS AT ITS OWN RISK. LOTWING DOES NOT MAKE, AND HEREBY
        SPECIFICALLY DISCLAIMS, AND THE END USER RELEASES AND WAIVES, ANY AND ALL
        WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION,
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE AND PURPOSE,
        NON-INFRINGEMENT, TITLE, OR ANY WARRANTY ARISING UNDER STATUTE OR OTHERWISE
        IN LAW OR FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, USAGE OR TRADE
        PRACTICE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, LOTWING DOES
        NOT WARRANT THAT THE SAAS SERVICES WILL MEET THE END USER’S REQUIREMENTS,
        WILL OPERATE IN ANY COMBINATION THAT MAY BE SELECTED FOR USE BY THE END
        USER OR IN COMBINATION WITH OTHER SOFTWARE, OR WILL OPERATE UNINTERRUPTED
        OR ERROR FREE. FURTHERMORE, LOTWING DOES NOT WARRANT THAT ANY ERRORS,
        DEFECTS OR INEFFICIENCIES IN THE SAAS SERVICES WILL BE CORRECTED, NOR DOES
        LOTWING ASSUME ANY LIABILITY FOR FAILURE TO CORRECT ANY SUCH ERROR, DEFECT
        OR INEFFICIENCY. LOTWING MAKES NO WARRANTY, AND THE END USER ASSUMES THE
        ENTIRE RISK, AS TO THE INTEGRITY OF ANY DATA (INCLUDING THE INVENTORY DATA)
        AND THE RESULTS, CAPABILITIES, SUITABILITY, USE, NON-USE OR PERFORMANCE OF
        THE SAAS SERVICES. IN NO EVENT SHALL LOTWING BE LIABLE TO THE END USER FOR
        ANY DAMAGES RESULTING FROM OR RELATED TO THE USE OR PERFORMANCE OF THE SAAS
        SERVICES.

    %li
      %strong DISCLAIMER OF DAMAGES; LIMITS ON LIABILITY
      \.
      %p
        NEITHER PARTY IS LIABLE FOR (A) ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE
        OR CONSEQUENTIAL DAMAGES RELATING TO OR ARISING OUT OF THIS AGREEMENT, THE
        SAAS SERVICES OR ANY THIRD PARTY CODE OR SOFTWARE USED IN THE SAAS SERVICES
        (INCLUDING, WITHOUT LIMITATION, LOST PROFITS, LOST COMPUTER USAGE TIME, AND
        DAMAGE TO, OR LOSS OF USE OF DATA, INCLUDING INVENTORY DATA), EVEN IF
        ADVISED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES, EVEN IF SUCH DAMAGES
        WERE FORESEEABLE AND IRRESPECTIVE OF NEGLIGENCE OF A PARTY OR WHETHER SUCH
        DAMAGES RESULT FROM A CLAIM ARISING UNDER TORT, CONTRACT LAW, STRICT
        PRODUCT LIABILITY OR OTHERWISE; OR (B) DAMAGES OF ANY KIND IN AN AMOUNT
        GREATER THAN THE AMOUNT OF ACTUAL, DIRECT DAMAGES UP TO THE TOTAL AMOUNT
        PAID TO LOTWING UNDER THIS AGREEMENT.

    %li
      %strong General Provisions
      %ul
        %li.mt-2
          %strong Entire Agreement
          \. The parties intend that this Agreement represents the final
          expression of the parties' intent relating to the subject matter of
          this Agreement, contain all the terms the parties agreed to
          relating to the subject matter, and replace all of the parties'
          previous discussions, understandings, and agreements relating to
          the subject matter of this Agreement.
        %li.mt-2
          %strong Non-Exclusive Service
          \. The End User acknowledges that the SaaS Services are provided on
          a non-exclusive basis. Nothing shall be deemed to prevent or
          restrict LotWing’s ability to provide the SaaS Services or other
          technology, including any features or functionality first developed
          for the End User, to other parties.
        %li.mt-2
          %strong Assignment
          \. The End User may not assign this Agreement or any of their rights
          or obligations under this Agreement without LotWing’s written
          consent.
        %li.mt-2
          %strong Relationship
          \. This Agreement does not create or imply any agency, partnership,
          joint venture, employment, franchise relationship between LotWing
          and the End User. Neither Party will have the power to bind the
          other or incur obligations on the other’s behalf without the
          other’s prior written consent.
        %li.mt-2
          %strong Governing Law
          \. This Agreement shall be governed, construed, and enforced in
          accordance with the laws of the State of California, without regard
          to its conflict of laws rules.
        %li.mt-2
          %strong Severability
          \. If any part of this Agreement is declared unenforceable or
          invalid, the remainder will continue to be valid and enforceable.
        %li.mt-2
          %strong Successors
          \. This Agreement shall be binding upon and will inure to the
          benefit of the Parties hereto and their respective representatives,
          successors and assigns, except as otherwise provided herein.


  %hr 
  .mb-5.text-right
    %p
      %em By clicking "I Accept" you agree to this end user agreement.
    = link_to 'I Accept', service_license_agreement_index_path, method: :post, class: 'btn btn-primary btn-lg'
