.container
  .row.mb-3
    .col-12
      %h3 Detail Board
    .col-12
      %a.btn.btn-primary.brn-sm{"data-target" => "#newDetailJob", "data-toggle" => "modal", :href => "#"} Add Job

  .row
    .col-12
      - @detail_jobs.each do |job|
        .row
          .col-12
            = job.inspect



= render partial: 'detail_jobs/new'