%h3.text-center= @dealership.name


.container
  = render partial: 'dealerships/partials/subnavs', locals: {active_tab: 'edit'}


  - if flash[:error]
    .alert.alert-danger.mt-2
      = flash[:error]

  = render partial: 'dealerships/partials/dealership_info'


:javascript
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });