/ Page Content
.container
  .row
    .col-lg-6
      %h2 Modern Business Features
      %p The Modern Business template by Start Bootstrap includes:
      %ul
        %li
          %strong Bootstrap v4
        %li jQuery
        %li Font Awesome
        %li Working contact form with validation
        %li Unstyled page elements for easy customization
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
    .col-lg-6
      %img.img-fluid.rounded{:alt => "", :src => "http://placehold.it/700x450"}/
  / /.row
  %hr/
  / Call to Action Section
  .row.mb-4
    .col-md-8
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
    .col-md-4
      %a.btn.btn-lg.btn-secondary.btn-block{:href => "#"} Call to Action
