= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('lot_view')
.container-fluid
  .row
    .col-lg-3
      %h3.m-0.mt-3.text-center Lot View
      
    .col-lg-9
      #map{ :style => "width: 100%; height: 550px" }
      
      .d-none
        //place all dom-dependent info here
        %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
        %input#dealership_map_zoom{value: current_user.dealership.map_zoom }