/ Page Content
= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('map_builder')
= javascript_include_tag('map_interactor')
.container-fluid
  .row
    .col-lg-4
      %h2.m-0.mt-3 Lot View
      %small.small.text-muted
        (click on a parking space to see status)
      #parkingSpaceInfoContainer.pt-3
    .col-lg-8
      #map{:style => "width: 100%; height: 550px;"}
  %h2.text-center.pt-3 Notices
  .row
    - (0..3).each do |i|
      .col-md-3
        .card.my-4
          %img.card-img-top{:alt => "Card image cap", :src => "https://via.placeholder.com/150x150"}/
          .card-body
            %p.card-text Some quick example 
            %a.btn.btn-primary.btn-sm{:href => "#"} Go somewhere
