!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %tr
      %td
        %table.content-wrapper{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border: 1px solid #dcdcdc;table-layout:fixed;max-width:640px;width:100%;"}
          %tr
            %td{:style => "padding-top:50px;padding-bottom:20px;padding-right:50px;padding-left:50px;"}
              %h1{:style => "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"}
                %a{:href => "https://lotwing.herokuapp.com"}
                  = image_tag "logo.png", style: 'width: 150px; margin: auto; margin-bottom:10px; display: block;'

          %tr
            %td{:style => "padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;"}
              %table.article-block{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-bottom:40px;", :width => "100%"}
                %tr
                  %td{:style => "padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;"}
                    %p{style: 'font-size: 18px; color: #000; font-family: Trebuchet MS;line-height: 28px;'}
                      #{@job.sales_rep.full_name},

                    %p{style: 'font-size: 18px; color: #000; font-family: Trebuchet MS;line-height: 28px;'}
                      Your detail job for stock number #{@job.stock_number} has been completed.
                      = link_to 'Click here to view the detail job.', detail_jobs_url()



