%h3.my-5.text-center LotWing branded slogan catch phrase!
.row.mt-5
  .col-md-6
    .row.justify-content-center
      .col-md-9
        = image_tag "https://via.placeholder.com/500x400", class: 'w-100'
  .col-md-6
    .row.justify-content-center
      .col-md-9
        = image_tag "https://via.placeholder.com/500x400", class: 'w-100'

.row.justify-content-center
  .col-md-6
    = render "devise/shared/links"