:css
  body{
    background-color: #343a40;
  }
  .navbar-brand img {
    display: none;
  }

.container
  .row.mb-5.pb-5
    .col-md-12.text-right
      = render "devise/shared/links"
  .row.text-center
    .col-md-12.mb-5
      = image_tag "logo_light.png", style: 'max-width: 200px;'
    .col-md-12.text-white
      Vehicle logistics solution coming Summer 2019
