#new-vehicle-groupings-container
  %i.fa.fa-refresh.fa-spin
  :javascript
    $(function(){
      $.ajax({
        url:"/vehicles/new_vehicle_groupings?#{params.to_unsafe_h.to_query}",
        method: "get",
      });
    })
