.container-fluid
  .row
    .col-sm-6
      = render partial: 'vehicles/index'

    -#---- RIGHT SIDE STARTS HERE
    .col-sm-6
      #vehicleDetailContainer
      #vehicle_data_container
      = render partial: 'vehicles/new_vehicle_groupings_container'

= render partial: 'shared/map_popover'

:javascript
  $(function(){

    $(document).on('click', '.close', function(){
      hide_vehicle_data();
    })
  })

  function show_loading(){
    $('#vehicleDetailContainer').html('Loading...')
  }


  function hide_vehicle_data(){
    $('#vehicle_data_container').html('');
    $("tr").removeClass('bg-warning');
  }
