body{
  font-size: 15px;
}

#header{
  margin-bottom: 20px;
  img{
    max-width: 200px;
  }
}

.left-col{
  width: 74%;
  float: left;
}

.right-col{
  width:24%;
  float: right;
}

.client-last-name{
  font-size: 30px;
}