body{
  font-size: 80px;
}

#header{
  margin-bottom: 80px;
  img{
    max-width: 800px;
  }
}

.left-col{
  width: 75%;
  float: left;
}

.right-col{
  width:25%;
  float: left;
}

.client-last-name{
  font-size: 150px;
}