#vehicle_data_container{
  position: absolute;
  width: 96%;
  left: 0;
  z-index: 1;
  background-color: #797070;
  color: #fff;
  text-shadow: 1px 1px #2d2d2d;

  .close{
    position: absolute;
    top: 4px;
    right: 10px;
    color: #fff;
    cursor: pointer;
  }
}