.mapboxgl-popup{
  font-size: 11px;
  line-height: 14px;
  pointer-events: none;
}

.mapboxgl-popup-content{
  background-color: #ffffc5 !important;
}

.mapboxgl-popup-tip{
  border-top-color: #ffffc5 !important;
}