.container
  %h4 Edit Service Ticket

  = link_to "Manage this ticket", service_ticket_path(@service_ticket)
  %hr
  = form_for :service_ticket, url: service_ticket_path(@service_ticket), method: :put do |f|
    = render partial: 'service_tickets/partials/form', locals: {f: f}
    
    
    = f.submit "Update Service Ticket", class: 'btn btn-primary mb-3'
      
:javascript
  $(function(){
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;  //time in ms
    var $input = $('#service_ticket_stock_number');

    //on keyup, start the countdown
    $input.on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //user is "finished typing," populate the hidden form, and submit that one
    function doneTyping () {
      if ($input.val()){
        $('.loading-spin').removeClass('d-none');
        
        $.ajax({
          url:"/service_tickets/stock_number_search",
          method: 'PUT',
          data: { stock_number: $input.val() }
        });
      }
    }

  })