.container
  %h4 New Service Ticket
  %hr
  = form_for :service_ticket, url: service_tickets_path, method: :post do |f|
    = render partial: 'service_tickets/partials/form', locals: {f: f}

    = f.submit "Create Service Ticket", class: 'btn btn-primary mb-3'
    %br
    %small.text-muted
      ( You must create the ticket
      before you can add jobs to it.)

:javascript
  $(function(){
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;  //time in ms
    var $input = $('#service_ticket_stock_number');

    //on keyup, start the countdown
    $input.on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //user is "finished typing," populate the hidden form, and submit that one
    function doneTyping () {
      if ($input.val()){
        $('.loading-spin').removeClass('d-none');

        $.ajax({
          url:"/service_tickets/stock_number_search",
          method: 'PUT',
          data: { stock_number: $input.val() }
        });
      }
    }

  })