<!DOCTYPE html>
<html>
  <head>
    <style>
      table.barby-barcode { border-spacing: 0; }
      tr.barby-row {}
      td.barby-cell { width: 3px; height: 100px; }
      td.barby-cell.on { background: #000; }
    </style>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>